:root{
  --primary-color:rgb(32, 160, 211);
  --secondary-color:"";
  --dark-color:"";
  --light-color:"";
  --grey-color:"";
  --border-radius: 10px;
  --large-200-text:0rem;
  --medium-text:0rem;
  --medium-200-text:0rem;
  --small-text:0rem;
  --small-200-text:0rem;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.custom-container {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  max-width: 1170px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff
}
